<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./css/site.css">
  <title>Temperature Converter</title>
</head>

<body>
  <div class="container">

    <% if (formDataErrorObject.formErrors.messages.length > 0) { %>
      <div class="row justify-content-start">
        <div class="col-6">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Errors!</strong> The following errors need to be fixed.
            <ul>
              <% formDataErrorObject.formErrors.messages.forEach(function(message) { %>
                <li>
                  <%=message %>
                </li>
                <% }) %>
            </ul>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <% } %>

        <form method="POST" action="/" id="temperature-converter-form">

          <h1>Temperature Converter</h1>

          <div class="row justify-content-start">
            <div class="col-6">
              <div class="form-group">
                <label for="convertTemperature">Convert:</label>
                <input class="form-control yellowBackground <%=formDataErrorObject.formErrors.convertClass%>" type="text" name="convertTemperature"
                  id="convertTemperature" placeholder="Temperature To Convert" value="<%=formDataErrorObject.formData.amountToConvert %>">
              </div>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col-3">
              <h2>From</h2>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input <%=formDataErrorObject.formErrors.fromClass%>" type="radio" name="fromRadios" id="fromCelsius"
                    value="1" <%=formDataErrorObject.formData.fromUnit.celsius%>>
                  <label class="form-check-label" for="fromCelsius">Celsius</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input <%=formDataErrorObject.formErrors.fromClass%>" type="radio" name="fromRadios" id="fromFarenheit"
                    value="2" <%=formDataErrorObject.formData.fromUnit.farenheit%>>
                  <label class="form-check-label" for="fromFarenheit">Farenheit</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input <%=formDataErrorObject.formErrors.fromClass%>" type="radio" name="fromRadios" id="fromKelvin"
                    value="3" <%=formDataErrorObject.formData.fromUnit.kelvin%>>
                  <label class="form-check-label" for="fromKelvin">Kelvin</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input <%=formDataErrorObject.formErrors.fromClass%>" type="radio" name="fromRadios" id="fromRankine"
                    value="4" <%=formDataErrorObject.formData.fromUnit.rankine%>>
                  <label class="form-check-label" for="fromRankine">Rankine</label>
                </div>
              </div>
            </div>

            <div class="col-3">
              <h2>To</h2>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input <%=formDataErrorObject.formErrors.toClass%>" type="radio" name="toRadios" id="toCelsius" value="1"
                    <%=formDataErrorObject.formData.toUnit.celsius%>>
                  <label class="form-check-label" for="toCelsius">Celsius</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input <%=formDataErrorObject.formErrors.toClass%>" type="radio" name="toRadios" id="toFarenheit"
                    value="2" <%=formDataErrorObject.formData.toUnit.farenheit%>>
                  <label class="form-check-label" for="toFarenheit">Farenheit</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input <%=formDataErrorObject.formErrors.toClass%>" type="radio" name="toRadios" id="toKelvin" value="3"
                    <%=formDataErrorObject.formData.toUnit.kelvin%>>
                  <label class="form-check-label" for="toKelvin">Kelvin</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input <%=formDataErrorObject.formErrors.toClass%>" type="radio" name="toRadios" id="toRankine" value="4"
                    <%=formDataErrorObject.formData.toUnit.rankine%>>
                  <label class="form-check-label" for="toRankine">Rankine</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col-6">
              <button class="btn btn-block">Convert</button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-6">
            <h2 class="text-center">
              <%=formDataErrorObject.formData.convertedAnswer%>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h3 class="text-center">
              <%=formDataErrorObject.formData.conversionFormula%>
            </h3>
          </div>
        </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>